body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #a6808c, #ccb7ae);
    text-align: center;
    padding: 50px;
    color: #946774;
}

.container {
    background: white;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #565264;
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
    color: #706677;
    margin-bottom: 20px;
}

input[type=text], input[type=number] {
    padding: 12px;
    width: 80%;
    border-radius: 8px;
    border: 2px solid #946774;
    margin-bottom: 15px;
}

button.btn {
    background-color: #a6808c;
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;
}

button.btn:hover {
    background-color: #a6808c;
}

.recommendations {
    text-align: left;
    display: inline-block;
    padding: 0;
    list-style-type: none;
}

.recommendations li {
    list-style: none;
    padding: 10px;
    background: #ffe6eb;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: bold;
}

.quiz-container {
    margin-top: 20px;
    padding: 15px;
    background: #ffeff3;
    border-radius: 15px;
}

.quiz-question {
    font-size: 18px;
    font-weight: bold;
    color: #946774;
}

.quiz-options {
    list-style-type: none;
    padding: 0;
}

.quiz-options li {
    padding: 8px;
    margin: 5px;
    background: #ffffff;
    border-radius: 8px;
}

a.btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background: #946774;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
}

a.btn:hover {
    background: #946774;
}
